name: Create Github Release

on:
  workflow_call:
    inputs:
      GH_CI_USER:
        description: "User for GitHub auth"
        required: true
        type: string
      GOPRIVATE:
        description: "GOPRIVATE env for go commands"
        required: false
        type: string
    secrets:
      GH_CI_PAT:
        description: 'Token password for GitHub auth'
        required: true
      CODECOV_TOKEN:
        description: 'Token for Codecov'
        required: true
env:
  GOPRIVATE: ${{ inputs.GOPRIVATE }}
jobs:
  discover-modules:
    #
    # finds all go modules in the repository
    #
    runs-on: ubuntu-latest
    outputs:
      modules: ${{ steps.set-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@v4
      - name: Find Go modules
        id: set-modules
        run: |
          MODS=$(find . -name vendor -prune -o -name go.mod -print | xargs -n1 dirname | jq -R . | jq -sc .)
          echo "modules=$MODS" >> $GITHUB_OUTPUT
  test:
    #
    # ensure go standards and tests pass
    #
    needs: discover-modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: ${{ fromJson(needs.discover-modules.outputs.modules) }}
    steps:
      # Checkout go code to test.
      - name: Checkout repo
        uses: actions/checkout@v4
      # Setup Go.
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "^1"
      # Use auth to get access to private Git repos for Go code dependencies.
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.GH_CI_PAT }}
          GITHUB_USERNAME: ${{ inputs.GH_CI_USER }}
        run:
          git config --global url."https://${GITHUB_USERNAME}:${TOKEN}@github.com".insteadOf
          "https://github.com"
      # Go vet the module.
      - name: go vet
        working-directory: ${{ matrix.module }}
        run: go vet ./...
      # Install go-junit-report to format test results.
      - name: Install go-junit-report
        run: go install github.com/jstemmer/go-junit-report/v2@v2.1.0
      # Run unit tests for the module.
      - name: go test
        working-directory: ${{ matrix.module }}
        run: go test -coverprofile=coverage.txt --race -v ./... 2>&1 | go-junit-report -set-exit-code > junit_report.xml || true
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test Report (${{ matrix.module }})
          path: ${{ matrix.module }}/junit_report.xml
          reporter: java-junit
      - uses: codecov/test-results-action@v1
        with:
          fail_ci_if_error: true # optional (default = false)
          files: ${{ matrix.module }}/junit_report.xml
          name: junit-report-${{ strategy.job-index }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test coverage results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ matrix.module }}/coverage.txt
  release:
    #
    # Create a GitHub Release based on conventional commits.
    #
    name: 'Release to GitHub'
    # needs: test
    runs-on: ubuntu-latest
    steps:
      # Checkout code to release.
      - name: Checkout repo
        uses: actions/checkout@v4
      # Setup Node needed to create release.
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      # Add plugin to make the changelog for the release.
      - name: Add plugin for conventional commits
        run: npm install conventional-changelog-conventionalcommits@6
        working-directory: ./.github/workflows
      # Create the release.
      - name: Release to GitHub
        working-directory: ./.github/workflows
        env:
          GITHUB_TOKEN: ${{ secrets.GH_CI_PAT }}
          GIT_AUTHOR_NAME: release-bot
          GIT_AUTHOR_EMAIL: release@test.com
          GIT_COMMITTER_NAME: asyncapi-bot
          GIT_COMMITTER_EMAIL: info@asyncapi.io
        run: npx semantic-release@22.0.12
